@import './global.scss';

.header {
    margin-top: -10px;

    form {
        * {
            color: $maincolor;
        }
        
        button {
            &:nth-child(1) {
                margin-left: -8px !important;
            }
            &:hover {
                filter: brightness(115%) !important;
            }
    
            text-decoration: none;
            
            border: none;
            
            background: none;
            
            filter: contrast(115%);
        }
    }
}

hr {
    width: 115%;

    margin-left: -10% !important;
    margin-top: 0px !important;

    color: $maincolor !important;
}